.blury-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: blur(3.5em);
}

.blury-background::before {
    content: "";
    position: absolute;
    top: -7.5em;
    left: -7.5em;
    right: -7.5em;
    bottom: -7.5em;
    background: url("../images/background-1.jpg") center center no-repeat;
    background-size: cover;
}


/** hero styles **/

.hero {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: #fff;
}


.hero__avatar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}



/** social links styles **/

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.social-link {
    margin: 0.25em;
    background: #fff center center no-repeat;
    background-size: 60%;
}

.social-link:hover,
.social-link:focus {
    transform: scale(1.15);
}


.social-link.facebook {
    background-image: url("../images/facebook.png");
}

.social-link.twitter {
    background-image: url("../images/twitter.png");
}

.social-link.github {
    background-image: url("../images/github.png");
}

.social-link.website {
    background-image: url("../images/website.png");
}
