body {
    background: url("../images/background.jpg") center center no-repeat;
    background-size: cover;
}


@media all and (min-width: 640px), (min-device-width: 640px) {
    body {
        background-image: url("../images/background@2x.jpg");
    }
}


@media all and (min-width: 1280px), (min-device-width: 1280px) {
    body {
        background-image: url("../images/background@3x.jpg");
    }
}



/** hero styles **/

.hero {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: #fff;
}


.hero__avatar {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}



/** social links styles **/

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.social-link {
    margin: 0.25em;
    background: #fff center center no-repeat;
    background-size: 60%;
}

.social-link:hover,
.social-link:focus {
    transform: scale(1.15);
}


.social-link.facebook {
    background-image: url("../images/facebook.png");
}

.social-link.twitter {
    background-image: url("../images/twitter.png");
}

.social-link.github {
    background-image: url("../images/github.png");
}

.social-link.website {
    background-image: url("../images/website.png");
}
