*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #333;
}

a,
input,
button {
    font: inherit;
    color: inherit;
}
