*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    --primary-color: #ffeb3b;

    font-size: 62.5%;
}

body {
    min-height: 100vh;
    border: 1rem solid var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #333;
}

a,
input,
button {
    font: inherit;
    color: inherit;
}

p:not(:first-of-type) {
    margin-top: 1.5em;
}

p:not(:last-of-type) {
    margin-bottom: 1.5em;
}

.wrapper {
    width: 90vw;
    max-width: 60rem;
    padding-bottom: 8rem;
    margin: 0 auto;
}

.separator {
    height: 1.6em;
}


/** Header **/

.site-header {
    padding: 8rem 0;
    text-align: center;
}

.site-header p {
    margin: 0;
}

.title {
    margin: 2rem 0 1rem 0;
    font-family: "Luna", sans-serif;
    font-size: 2.4em;
    font-weight: 400;
}


/** Projects **/

.projects {
    padding: 0 4rem;
    margin: 1rem 0;
    list-style: none;
}

.projects li {
    margin: 1rem 0;
}

.project {
    display: inline-block;
    padding-left: 4rem;
    position: relative;
    text-decoration: none;
}

.project::before {
    content: "";
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: calc(50% - 3.2rem / 2);
    left: 0;
    background: center center no-repeat;
    opacity: 0.25;
}

.project.github::before {
    background-image: url("../images/github.png");
}

.project.codepen::before {
    background-image: url("../images/codepen.png");
}

.project p {
    margin: 0;
}

.project p:only-child {
    line-height: 4rem;
}

.project .description {
    font-size: 0.8em;
}


/** Blog **/

blockquote {
    padding: 0 4rem;
    margin: 1rem 0;
    text-align: center;
}

blockquote a {
    position: relative;
    font-size: 1.6em;
    font-weight: 300;
    text-decoration: none;
}

blockquote a::before,
blockquote a::after {
    margin: 0 0.5rem;
    position: absolute;
    font-family: serif;
    font-size: 1.25em;
    opacity: 0.25;
}

blockquote a::before {
    content: "“";
    right: 100%;
}

blockquote a::after {
    content: "”";
    left: 100%;
}

blockquote time {
    display: block;
    margin-top: 0.75em;
    font-size: 0.8em;
}


/** Talk **/

.no-talk {
    padding: 0 8rem 0 4rem;
    font-size: 0.8em;
}


/** Avatar **/

.avatar-label {
    text-align: center;
}

.avatar {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 2.4rem auto 0 auto;
    border-radius: 50%;
}
