<meta property="fb:app_id" content="">
<meta property="og:title" content="Arnelle Balane" itemprop="name">
<meta property="og:description" content="Just another Web developer's personal website." itemprop="description">
<meta property="og:image" content="https://arnellebalane.com/static/images/icon-512.png">
<meta property="og:url" content="https://arnellebalane.com/">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@arnellebalane">
<meta name="twitter:title" content="Arnelle Balane">
<meta name="twitter:description" content="Just another Web developer's personal website.">
<meta name="twitter:image" content="https://arnellebalane.com/static/images/icon-512.png">
<meta name="twitter:image:alt" content="Arnelle Balane">

<link itemprop="image" href="https://arnellebalane.com/static/images/icon-512.png">
