/* Profile Header Overrides */

.Section.MeHeader {
    margin-top: 8rem;
    text-align: center;
}



/* 404 Page */

.NotFound__Heading {
    text-align: center;
}

.NotFound__Oops {
    color: var(--primary-accent-color);
}



/* Other Links Section */

.NotFoundActions {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
