/* Blog Section */

.Blog .Item {
    margin: 5.4rem 0;
}

.Article--medium .Item__Subheading::before {
    content: "Posted on Medium. ";
    color: #02b875;
}

.Article--devto .Item__Subheading::before {
    content: "Posted on DEV. ";
    color: #4e57ef;
}



/* Pagination Section */

.Pagination {
    display: flex;
    justify-content: space-between;
}

.Paginator {
    display: flex;
    align-items: center;
}

.Paginator img {
    width: 2rem;
    height: 2rem;
}

.Paginator--previous {
    margin-right: auto;
}

.Paginator--previous img {
    margin-right: 8px;
}

.Paginator--next {
    margin-left: auto;
}

.Paginator--next img {
    margin-left: 8px;
}
