/* Profile Header Overrides */

.Section.MeHeader {
    margin-top: 8rem;
    text-align: center;
}



/* 404 Page */

.Standalone__Heading {
    text-align: center;
}

.Standalone__Highlight {
    color: var(--primary-accent-color);
}



/* Other Links Section */

.StandaloneActions {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
