/* LAYOUT */

@media (min-width: 800px) {
    .l-LeftTwoThirds {
        padding-right: calc(0.747 * 100vw - 597.94px); /* CSS Lock */
    }

    .l-RightTwoThirds {
        padding-left: calc(0.747 * 100vw - 597.94px); /* CSS Lock */
    }
}

@media (min-width: 1188px) {
    .l-LeftTwoThirds {
        padding-right: 29rem;
    }

    .l-RightTwoThirds {
        padding-left: 29rem;
    }
}



/* HEADER */

.Header {
    --header-height: 7rem;
    --topbar-height: 2rem;

    height: calc(var(--topbar-height) + var(--header-height));
    padding-top: var(--topbar-height);
}

.Header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--topbar-height);
    background: url("../images/dot.png") repeat;
}

.Header .l-Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.SiteName {
    font-size: 2.4rem;
    font-weight: 900;
}

@media (min-width: 600px) {
    .Header {
        --header-height: calc(0.177 * 100vw - 50.12px); /* CSS Lock */
        --topbar-height: 3rem;
    }

    .SiteName {
        font-size: calc(0.041 * 100vw - 0.49px); /* CSS Lock */
    }
}

@media (min-width: 1188px) {
    .Header {
        --header-height: 16rem;
    }

    .SiteName {
        font-size: 4.8rem;
    }
}



/* NAVIGATION MENU */

.Navigation__Item {
    margin-left: 4rem;

    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--gray-400);
}

@media (max-width: 599px) {
    .Navigation {
        display: none;
    }
}



/* SECTIONS */

.Section {
    margin: 8rem 0;
    position: relative;
}

.Section__Title {
    margin-bottom: 2.4rem;
    font-size: calc(0.043 * 100vw + 4.29px); /* CSS Lock */
    font-weight: 900;
}

.Section p {
    margin: 1.6rem 0;
    font-size: 1.8rem;
    line-height: 1.5;
}

@media (min-width: 460px) {
    .Section__Title {
        font-size: 2.4rem;
    }
}

@media (min-width: 600px) {
    .Section__Title {
        font-size: calc(0.02 * 100vw + 11.76px); /* CSS Lock */
    }
}

@media (min-width: 800px) {
    .Section {
        margin: 12rem 0;
    }

    .Section p {
        margin: 2.4rem 0;
        font-size: 2.4rem;
    }
}

@media (min-width: 1188px) {
    .Section__Title {
        font-size: 3.6rem;
    }
}



/* HERO SECTION */

.Hero {
    --hero-avatar-size: 30%;
    --hero-social-icon-size: 2.4rem;

    margin-top: 1.2rem;
}

.Hero .l-Wrapper {
    position: relative;
}

.Hero__Title {
    margin-top: calc(0.086 * 100vw - 9.43px); /* CSS Lock */
    font-weight: 700;
}

.Hero__Title strong {
    display: block;
    font-weight: 900;
}

.Hero p {
    clear: both;
}

.Avatar {
    float: left;
    display: block;
    width: var(--hero-avatar-size);
    height: var(--hero-avatar-size);
    max-width: 12.4rem;
    margin-left: calc(var(--l-wrapper-padding) * -1);
    margin-right: 2.4rem;
    margin-bottom: 2.4rem;
}

.SocialIcons {
    white-space: nowrap;
}

.SocialIcon {
    display: inline-block;
    vertical-align: top;
    width: var(--hero-social-icon-size);
    height: var(--hero-social-icon-size);
    font-size: 0;
    background: center center no-repeat;
    background-size: contain;
}

.SocialIcon--github    { background-image: url("../images/icons/github.svg"); }
.SocialIcon--twitter   { background-image: url("../images/icons/twitter.svg"); }
.SocialIcon--devto     { background-image: url("../images/icons/devto.svg"); }
.SocialIcon--instagram { background-image: url("../images/icons/instagram.svg"); }
.SocialIcon--linkedin  { background-image: url("../images/icons/linkedin.svg"); }

@media (min-width: 460px) {
    .Hero__Title {
        margin-top: 3rem;
    }

    .Avatar {
        margin-left: 0;
    }
}

@media (min-width: 600px) {
    .Hero {
        --hero-avatar-size: calc(0.367 * 100vw - 96.41px); /* CSS Lock */
    }

    .Hero .l-Wrapper {
        display: flex;
        padding-top: 3rem;
    }

    .Hero__Title {
        margin-bottom: calc(0.051 * 100vw - 0.612px); /* CSS Lock */
    }

    .Hero p {
        clear: none;
    }

    .Avatar {
        float: none;
        max-width: 34rem;
        margin-bottom: 0;
    }
}

@media (min-width: 800px) {
    .Hero {
        --hero-social-icon-size: 3.2rem;
    }
}

@media (min-width: 1188px) {
    .Hero {
        --hero-avatar-size: 34rem;
    }

    .Hero__Title {
        margin-bottom: 6rem;
    }

    .Avatar {
        margin-right: 3.2rem;
    }
}

/* 1188 + 160 (80px on both sides) */
@media (min-width: 1348px) {
    .Avatar {
        margin-left: -8rem;
    }
}



/* TALKS & WORKSHOPS SECTION */

.TalksAndWorkshops__Image {
    display: none;
}

.UpcomingEvents {
    display: grid;
    grid-gap: 2.4rem 0;

    margin-top: 4rem;
}

.UpcomingEvents__Label {
    font-size: 1.8rem;
    font-weight: 900;
}

.UpcomingEvents__SeeAll {
    margin-top: 3.2rem;
    font-size: 1.8rem;
}

.Event {
    display: flex;
    flex-direction: column;
}

.Event__Title {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--primary-400);
}

.Event__Subtitle {
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.Event__Date,
.Event__Venue {
    font-size: 1.6rem;
    color: var(--gray-400);
}

.Event__Date {
    margin-top: auto;
}

@media (min-width: 600px) {
    .TalksAndWorkshops .l-Wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: ". ." "image .";
        grid-gap: 2.4rem;
        align-items: start;
    }

    .TalksAndWorkshops__Details {
        grid-column-end: span 2;
    }

    .TalksAndWorkshops__Image {
        --talks-image-size: calc(0.367 * 100vw - 96.41px); /* CSS Lock, 250px -> 340px */

        display: block;
        grid-area: image;

        width: calc(var(--talks-image-size) + var(--l-wrapper-padding));
        margin-left: calc(var(--l-wrapper-padding) * -1);
    }

    .UpcomingEvents {
        margin-top: 0;
    }
}

@media (min-width: 800px) {
    .TalksAndWorkshops__Details {
        --talks-padding-right: calc(0.747 * 100vw - 597.94px); /* CSS Lock, 0px -> 290px */

        padding-right: calc(var(--talks-padding-right) - var(--l-wrapper-padding));
    }

    .UpcomingEvents__Label {
        font-size: 3rem;
    }

    .UpcomingEvents__SeeAll {
        font-size: 2rem;
    }

    .Event__Title {
        font-size: 2.4rem;
    }

    .Event__Subtitle {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .Event__Date,
    .Event__Venue {
        font-size: 1.8rem;
    }
}

@media (min-width: 1188px) {
    .TalksAndWorkshops .l-Wrapper {
        grid-template-areas: "image ." "image .";
        grid-gap: 4.4rem 3.6rem;
    }

    .TalksAndWorkshops__Details {
        --talks-padding-right: 0;

        grid-column-end: span 1;
        padding-top: 5rem;
    }

    .TalksAndWorkshops__Image {
        width: calc(0.183 * 100vw + 147.14px); /* CSS Lock, 340px -> 410px */
        max-width: 41rem;
        margin-left: calc(-0.5 * 100vw + 570px); /* CSS Lock, -24px -> -150px */
    }

    .UpcomingEvents {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.4rem 12rem;
    }

    .UpcomingEvents__Label {
        grid-column-end: span 2;
    }

    .Event__Title {
        margin-bottom: 1.2rem;
    }

    .Event__Date {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1440px) {
    .TalksAndWorkshops__Image {
        margin-left: -15rem;
    }
}



/* TECHNOLOGY SECTION */

.Technology {
    --technology-icon-margin-x: 1.6rem;
    --technology-icon-margin-y: 0.7rem;
}

.TechnologyList {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-right: calc(var(--technology-icon-margin-x) * -1);
    list-style: none;
}

.TechnologyList__Item {
    margin: var(--technology-icon-margin-y) var(--technology-icon-margin-x);
    margin-left: 0;
}

.TechnologyList__Item img {
    display: block;
    height: 2.4rem;
}

@media (min-width: 800px) {
    .Technology {
        --technology-icon-margin-x: 4rem;
        --technology-icon-margin-y: 1.6rem;
    }

    .TechnologyList__Item img {
        height: 4.2rem;
    }
}



/* FOOTER */

.Footer {
    padding-top: 6rem;
    padding-bottom: 11rem;
    margin-top: 12rem;
    position: relative;
    text-align: center;
}

.Footer::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: var(--wrapper-padding-right);
    bottom: 0;
    width: 28rem;
    height: 3rem;
    background: url("../images/dot.png") repeat;
}

.Footer__Copyright {
    margin-bottom: 1.8rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.Footer__BuiltWith {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--gray-400);
}

@media (min-width: 820px) {
    .Footer__Copyright {
        font-size: 2rem;
    }

    .Footer__BuiltWith {
        font-size: 1.6rem;
    }
}
