---
layout: layouts/main.njk
stylesheets:
    - /static/stylesheets/components/article.css
    - /static/stylesheets/components/code-snippets.css
showHomeNavigation: true
showProfileHeader: false
---

<article class="Article">
    <header>
        <h1>{{ title }}</h1>

        <time>{{ date | formatDate('MMMM d, yyyy') }}</time>
        <a href="#" target="_blank" class="js-Share"></a>
    </header>

    <main>
        {{ content | safe }}
    </main>
</article>
