---
layout: layouts/main.njk
stylesheets:
    - /static/stylesheets/components/article.css
    - /static/stylesheets/components/code-snippets.css
showHomeNavigation: true
showProfileHeader: false
---

<article class="Article">
    <header>
        <h1>{{ title }}</h1>

        <time>{{ date | formatDate('MMMM d, yyyy') }}</time>
        <ul>
            {% for category in categories %}
            <li>#{{ category }}</li>
            {% endfor %}
        </ul>
    </header>

    <main>
        {{ content | safe }}
    </main>
</article>
