---
layout: layouts/main.njk
showHomeNavigation: true
showProfileHeader: false
---

{% block stylesheets %}
<link rel="stylesheet" href="/static/stylesheets/components/article.css">
<link rel="stylesheet" href="/static/stylesheets/components/code-snippets.css">
{% endblock %}

<article class="Article">
    <header>
        <h1>{{ title }}</h1>

        <time>{{ date | formatDate('MMMM d, yyyy') }}</time>
        <a href="#" target="_blank" class="js-Share"></a>
    </header>

    <main>
        {{ content | safe }}
    </main>
</article>

{% block javascripts %}
<script type="module" src="/static/javascripts/article.mjs"></script>
<script nomodule src="/static/javascripts/article.js"></script>
{% endblock %}
