<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/static/stylesheets/themes/dark.css">
        <link rel="stylesheet" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" href="/static/stylesheets/themes/light.css">
        <script>
            console.log(window.matchMedia('(prefers-color-scheme)').media);
            if (window.matchMedia('(prefers-color-scheme)').media === 'not all') {
                document.head.insertAdjacentElement(
                    'beforeend',
                    '<link rel="stylesheet" href="/static/stylesheets/themes/light.css">'
                );
            }
        </script>

        <link rel="stylesheet" href="/static/stylesheets/main.css">
        {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}

        <meta property="og:title" content="Arnelle Balane">
        <meta property="og:description" content="Arnelle Balane's Personal Website">
        <meta property="og:image" content="https://beta.arnellebalane.com/static/images/social-share.jpg">
        <meta property="og:url" content="https://beta.arnellebalane.com/">
        <meta name="description" content="Arnelle Balane's Personal Website">
        <meta name="twitter:card" content="summary_large_image">

        <title>{{ title or 'Arnelle Balane'}}</title>
    </head>

    <body>
        <nav class="Navigation">
            <a class="Navigation__Link fs-18" href="/blog">Blog</a>
            <a class="Navigation__Link fs-18" href="/events">Events</a>
            <a class="Navigation__Link fs-18" href="/projects">Projects</a>
        </nav>

        <div class="Wrapper">
            {{ content | safe }}

            <footer class="Footer">
                <small>&copy; Copyright 2019 Arnelle Balane</small>
            </footer>
        </div>
    </body>
</html>
