<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width, initial-scale=1">

        <link rel="stylesheet" href="/static/stylesheets/main.css">
        {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}

        <title>{{ title or 'Arnelle Balane'}}</title>
    </head>

    <body>
        <nav class="Navigation">
            <a class="Navigation__Link fs-18" href="/blog">Blog</a>
            <a class="Navigation__Link fs-18" href="/events">Events</a>
            <a class="Navigation__Link fs-18" href="/projects">Projects</a>
        </nav>

        <div class="Wrapper">
            {{ content | safe }}

            <footer class="Footer">
                <small>&copy; Copyright 2019 Arnelle Balane</small>
            </footer>
        </div>
    </body>
</html>
