---
title: Arnelle Balane
description:
    Web Developer from Cebu, Philippines. Software Developer at Newlogic.
    Google Developer Expert in Web Technologies. I love building things on the
    Web and sharing about it.
showNavigation: true
showProfileHeader: true
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#fff">

        <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/static/stylesheets/themes/dark.css">
        <link rel="stylesheet" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" href="/static/stylesheets/themes/light.css">

        <link rel="preload" as="font" crossorigin="anonymous" href="/static/fonts/Gilroy/Gilroy-Regular-subset.woff2">
        <link rel="preload" as="font" crossorigin="anonymous" href="/static/fonts/Gilroy/Gilroy-Heavy-subset.woff2">

        <link rel="stylesheet" href="/static/stylesheets/main.css">
        {% for stylesheet in stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet }}">
        {% endfor %}

        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://arnellebalane.com/static/images/social-share.jpg">
        <meta property="og:url" content="https://arnellebalane.com{{ page.url }}">
        <meta name="description" content="{{ description }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="google-site-verification" content="W8qQ8JyTkzOMts_n-lX11JdN_A6XZn3U_535iL-ZhFk">

        <link rel="icon" href="/static/images/favicon.png">
        <link rel="manifest" href="/static/manifest.webmanifest">
        <title>{{ title }}</title>
    </head>

    <body>
        {% if showNavigation %}
        <nav class="Navigation">
            <a class="Navigation__Link fs-18" href="/blog/">Blog</a>
            <a class="Navigation__Link fs-18" href="/events/">Events</a>
            <a class="Navigation__Link fs-18" href="/projects/">Projects</a>

            <span class="DarkModeToggle">
                <dark-mode-toggle permanent></dark-mode-toggle>
            </span>
        </nav>
        {% else %}
            <dark-mode-toggle class="hidden" permanent></dark-mode-toggle>
        {% endif %}

        <div class="Wrapper">
            {% if showProfileHeader %}
            <section class="Section MeHeader">
                <a class="ProfileWidget" href="/">
                    <img class="ProfileWidget__Image" src="/static/images/avatar-40.jpg" alt="Arnelle Balane" width="40px" height="40px">
                    <h1 class="fs-24 fw-900">Arnelle Balane</h1>
                </a>
            </section>
            {% endif %}

            {{ content | safe }}
        </div>

        <footer class="Footer">
            <div class="Wrapper">
                <div class="Footer__Content">
                    <small>&copy; Copyright 2019 Arnelle Balane</small>
                </div>
            </div>
        </footer>

        <script type="module" src="/static/javascripts/main.mjs"></script>
        <script nomodule src="/static/javascripts/main.js"></script>

        {% if config.env === 'production' %}
        <script defer>
            if ('serviceWorker' in navigator) {
                window.addEventListener('DOMContentLoaded', () => {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>
        {% endif %}
    </body>
</html>
