---
layout: layouts/main.njk
---

<section class="Section MeHeader">
    <div class="ProfileWidget">
        <img class="ProfileWidget__Image" src="/static/images/avatar.jpg" alt="Arnelle Balane">
        <h1 class="fs-24 fw-900">Arnelle Balane</h1>
    </div>
</section>

{{ content | safe }}
