.card {
    margin: 3.6rem 0;
}

.link {
    text-decoration: none;
}

.title {
    font-size: 1.8rem;
    font-weight: 800;
}

.subtitle {
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.content {
    margin-top: 8px;
}

.detail {
    margin-top: 8px;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.detailValue {
    font-weight: 600;
}

.detailValue:not(:last-child)::after {
    content: ", ";
    font-weight: 400;
    text-decoration: none;
}
