/* LAYOUT */

.l-LeftTwoThirds {
    padding-right: calc(var(--wrapper-padding) + 29rem);
}

.l-RightTwoThirds {
    padding-left: calc(var(--wrapper-padding) + 29rem);
}



/* HEADER */

.Header {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    border-top: 2rem solid var(--primary-700);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SiteName {
    font-size: 4.8rem;
    font-weight: 900;
}



/* NAVIGATION MENU */

.Navigation__Item {
    margin-left: 4rem;

    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray-400);
}



/* SECTIONS */

.Section {
    margin: 12rem 0;
}

.Section__Title {
    margin-bottom: 2.4rem;
    font-size: 3.6rem;
    font-weight: 900;
}

.Section p {
    margin: 2.4rem 0;
    font-size: 2.4rem;
    line-height: 1.5;
}



/* HERO SECTION */

.Hero {
    display: flex;
    position: relative;
    padding-top: 3rem;
}

.Hero::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(var(--wrapper-padding) - 15rem);
    width: 62rem;
    height: 18rem;
    background-color: var(--primary-700);
}

.Avatar {
    flex-shrink: 0;
    display: block;
    width: 34rem;
    height: 34rem;
    margin-left: -8rem;
    margin-right: 3rem;
}

.Hero__Title {
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 3.6rem;
}

.Hero__Title strong {
    display: block;
    font-weight: 900;
}

.Hero__Details p {
    margin: 2.4rem 0;
    font-size: 2.4rem;
    line-height: 1.5;
}

.SocialIcon {
    display: inline-block;
    vertical-align: middle;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 0;
    background: center center no-repeat;
    background-size: contain;
}

.SocialIcon--github {
    background-image: url("../images/icons/github.svg");
}

.SocialIcon--twitter {
    background-image: url("../images/icons/twitter.svg");
}

.SocialIcon--devto {
    background-image: url("../images/icons/devto.svg");
}

.SocialIcon--instagram {
    background-image: url("../images/icons/instagram.svg");
}

.SocialIcon--linkedin {
    background-image: url("../images/icons/linkedin.svg");
}
