.heading {
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;
}

.link {
    font-style: italic;
    text-decoration: none;
    color: var(--secondary-text-color);
}

.link:hover,
.link:focus {
    text-decoration: underline;
}
