<!doctype html>
<html>
    <head>
        <title>Arnelle Balane</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#83bcb5">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Arnelle's personal blog about random tech and coding.">

        <link rel="manifest" href="/static/manifest.json">
        <link rel="icon shortcut" href="/static/images/favicon.png">
        <link rel="stylesheet" href="/static/stylesheets/fonts.css">
        <link rel="stylesheet" href="/static/stylesheets/base.css">
        <link rel="stylesheet" href="/static/stylesheets/landing.css">

        {% if settings.env != 'development' %}
            {% include 'partials/google-analytics.html' %}
        {% endif %}
    </head>

    <body>
        <div class="hero">
            <img src="/static/images/avatar.jpg" alt="Arnelle Balane" class="hero__avatar">
            <h1 class="hero__text">Arnelle Balane</h1>
            <h2 class="hero__subtext">@arnellebalane</h2>

            <div class="social-links">
                <a href="https://facebook.com/arnellebalane" target="_blank" class="social-link facebook">Facebook</a>
                <a href="https://twitter.com/arnellebalane" target="_blank" class="social-link twitter">Twitter</a>
                <a href="https://github.com/arnellebalane" target="_blank" class="social-link github">Github</a>
                <a href="https://blog.arnellebalane.com" target="_blank" class="social-link website">Website</a>
            </div>
            <small class="copyright">&copy; 2016 Arnelle Balane</small>
        </div>

        <script src="/static/javascripts/sw-register.js"></script>
    </body>
</html>
