<!doctype html>
<html lang="en">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#ffeb3b">

        <title>Arnelle Balane</title>

        <link rel="manifest" href="static/manifest.json">
        <link rel="amphtml" href="https://arnellebalane.com/amp">

        {% include 'partials/critical-css.html' %}
        {% include 'partials/social-discovery.html' %}

        <link rel="stylesheet" href="static/stylesheets/main.css">
    </head>

    <body>
        {% if req.hostname !== 'localhost' %}
            {% include 'partials/analytics.html' %}
        {% endif %}

        <main class="wrapper">
            <header class="site-header">
                <p>Hello, my name is</p>
                <h1 class="title">Arnelle Balane</h1>
                <p>I'm just another Web Developer</p>
            </header>

            <p>Just like other developers, I write code. They're all scattered across the Internet, but you can find most of the cool ones in my <a href="https://github.com/arnellebalane" target="_blank" rel="noopener">Github</a> profile. I love Javascript and the Web, so you'll see mostly Web-related projects where I build awesome things with different Web APIs and other tech.</p>

            <p>I also do frontend work, as you'll see in my <a href="https://codepen.io/arnellebalane" target="_blank" rel="noopener">Codepen</a> profile. If you want to know how I built those, you can check out my live streams and videos over at my <a href="https://www.youtube.com/channel/UC3-k6RL1rVSXzHI8IU7u3NA" target="_blank" rel="noopener">Youtube</a> and <a href="http://liveedu.tv/arnellebalane/" target="_blank" rel="noopener">LiveEdu.tv</a> channels.</p>

            <p>Here are some things that I've worked on recently:</p>

            <ol class="projects loader"></ol>
            <template id="project">
                {% raw %}
                <li>
                    <a class="project github" href="{{ url }}" target="_blank" rel="noopener">
                        <p class="name">{{ name }}</p>
                        {{ #description }}
                        <p class="description">{{ description }}</p>
                        {{ /description }}
                    </a>
                </li>
                {% endraw %}
            </template>

            <div class="separator"></div>

            <p>I also write blog posts about random things that I learned or tried out recently. They're mostly Web stuff. If you're interested in reading some of them, you can do so at <a href="http://blog.arnellebalane.com/" target="_blank" rel="noopener">my blog</a>.</p>

            <p>This is the last thing that I posted in there:</p>

            <blockquote cite="https://blog.arnellebalane.com/introduction-to-the-shape-detection-api-e07425396861">
                <a href="https://blog.arnellebalane.com/the-credential-management-api-7eb5650d23ca" target="_blank" rel="noopener">
                    The Credential Management API
                </a>
                <time>August 27, 2017</time>
            </blockquote>

            <div class="separator"></div>

            <p>Occasionally, I give talks and do workshops about Web-related technologies like Javascript, Firebase, or Progressive Web Apps. You can find slides I used for my previous talks in <a href="https://speakerdeck.com/arnellebalane" target="_blank" rel="noopener">Speaker Deck</a>.</p>

            <p class="no-talk">Supposedly this paragraph will tell you about my upcoming talk, but I don't have one at the moment.</p>

            <div class="separator"></div>

            <p>Here are other links that you might be interested in (they all lead to me):
                <a href="https://stackoverflow.com/users/story/1343333" target="_blank" rel="noopener">StackOverflow</a>,
                <a href="https://www.linkedin.com/in/arnellebalane/" target="_blank" rel="noopener">LinkedIn</a>,
                <a href="https://twitter.com/arnellebalane" target="_blank" rel="noopener">Twitter</a>.
            </p>

            <p>If there's anything that you would like to tell me, you can email me at <a href="mailto:arnellebalane@gmail.com">arnellebalane@gmail.com</a>.</p>

            <div class="separator"></div>

            <p class="avatar-label">Oh and by the way, this is what I look like:</p>

            <picture class="avatar">
                <source srcset="static/images/avatar.webp" type="image/webp">
                <img class="avatar" src="static/images/avatar.png" alt="Arnelle Balane">
            </picture>
        </main>

        <script type="module" src="static/javascripts/modules/main.js"></script>
        <script defer nomodule src="static/javascripts/regular/lib/idb-fetch-mirror.js"></script>
        <script defer nomodule src="static/javascripts/regular/lib/utils.js"></script>
        <script defer nomodule src="static/javascripts/regular/main.js"></script>
    </body>
</html>
