<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Arnelle Balane</title>

        <link rel="stylesheet" href="/static/stylesheets/fonts.css">
        <link rel="stylesheet" href="/static/stylesheets/base.css">
        <link rel="stylesheet" href="/static/stylesheets/landing.css">
    </head>

    <body>
        <figure class="blury-background"></figure>
        <div class="hero">
            <img src="/static/images/avatar.jpg" alt="Arnelle Balane" class="hero__avatar">
            <h1 class="hero__text">Arnelle Balane</h1>
            <h2 class="hero__subtext">@arnellebalane</h2>

            <div class="social-links">
                <a href="https://facebook.com/arnellebalane" class="social-link facebook">Facebook</a>
                <a href="https://twitter.com/arnellebalane" class="social-link twitter">Twitter</a>
                <a href="https://github.com/arnellebalane" class="social-link github">Github</a>
                <a href="https://blog.arnelebalane.com" class="social-link website">Website</a>
            </div>
            <small class="copyright">&copy; 2016 Arnelle Balane</small>
        </div>
    </body>
</html>
