body {
    background-attachment: fixed;
}



/** hero styles **/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em 0;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: #fff;
}


.hero__avatar {
    display: block;
    width: 4em;
    height: 4em;
    margin-top: auto;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


.hero__text {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 1em;
}


.hero__subtext {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.5em;
}


@media all and (min-device-width: 960px) {
    .hero__avatar {
        width: 5em;
        height: 5em;
    }
}



/** social links styles **/

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}


.social-link {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin: 0.25em;
    text-indent: 100vh;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: #fff center center no-repeat;
    background-size: 60%;
}

.social-link:hover,
.social-link:focus {
    transform: scale(1.15);
}


.social-link.facebook {
    background-image: url("../images/facebook.png");
}

.social-link.twitter {
    background-image: url("../images/twitter.png");
}

.social-link.github {
    background-image: url("../images/github.png");
}

.social-link.stackoverflow {
    background-image: url("../images/stackoverflow.png");
}

.social-link.speakerdeck {
    background-image: url("../images/speakerdeck.png");
}

.social-link.blog {
    background-image: url("../images/blog.png");
}


@media all and (min-device-width: 960px) {
    .social-link {
        width: 1em;
        height: 1em;
        margin: 0.15em;
    }
}



/** copyright text styles **/

.copyright {
    margin-top: auto;
    font-size: 0.25em;
}


@media all and (min-device-width: 960px) {
    .copyright {
        font-size: 0.4em;
    }
}
