:root {
    --primary-text-color: #c6cbd2;
    --secondary-text-color: #5c636e;
    --primary-accent-color: #d45d79;
    --primary-background-color: #141A24;
    --gray: #5c636e;
}

img,
.SocialLink {
    filter: saturate(0.75);
}
