.Article,
.Article header {
    margin: 6rem 0;
}

.Article header h1 {
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--primary-accent-color);
}

.Article header time {
    margin-right: 3.6rem;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Article header ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Article header li {
    margin-right: 1.6rem;
}



/* Styles for actual article contents. */

.Article h2,
.Article h3 {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-weight: 900;
}

.Article h2 {
    font-size: 3rem;
}

.Article h3 {
    font-size: 2.4rem;
}

.Article img {
    display: block;
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-right: -3rem;
    margin-bottom: 4rem;
}

.Article a code {
    text-decoration: underline;
}

.Article code {
    padding: 2px 8px;
    border-radius: 4px;
    font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1.6rem;
    background-color: var(--code-inline-background-color);
}

.Article pre {
    overflow: auto;
    padding: 2.4rem 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--code-inline-background-color);
}

.Article pre code {
    padding: 0;
    background: none;
}

.Article hr {
    width: 100%;
    max-width: 30rem;
    height: 2px;
    border: none;
    margin: 6rem auto;
    background-color: var(--gray);
}

.Article blockquote {
    padding: 0 2.4rem;
    border-left: 4px solid var(--primary-accent-color);
    border-radius: 4px;
    margin: 2rem 0;

    font-style: italic;
    background-color: var(--code-inline-background-color);
    overflow: hidden;
}

.Article main ul {
    margin-bottom: 4rem;
}

.Article main li {
    margin: 1rem 0;
}



/* Needs to be more specific than the styles in the syntax highlight theme. */

.Article main pre {
    padding: 2.4rem 3rem;
    border-radius: 0;
    margin-left: -3rem;
    margin-right: -3rem;
}

@media (min-width: 800px) {
    .Article main pre,
    .Article main img {
        border-radius: 4px;
    }
}
