.Article,
.Article header {
    margin: 6rem 0;
}

.Article header h1 {
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--primary-accent-color);
}

.Article header time {
    margin-right: 3.6rem;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Article header ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Article header li {
    margin-right: 1.6rem;
}
