.Items {
    padding: 0;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    list-style: none;
}

.Item {
    display: flex;
    align-items: baseline;
    margin: 3rem 0;
}

.Item__Date {
    margin-right: 2rem;

    font-family: monospace;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Item__Heading {
    display: block;
    margin-bottom: 4px;
    font-size: 2rem;
    font-weight: 700;
}

.Item__Subheading {
    margin: 0;
    margin-bottom: 1.6rem;
}

.Item__Tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 1rem;

    list-style: none;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.Item__Tags li {
    margin-right: 1.6rem;
}

.Item__Heading + .Item__Tags {
    margin-top: 0;
}



/* Custom styles for items in special cases */

.Section__Title + .Items .Item:first-child {
    margin-top: 0;
}
