.Items {
    padding: 0;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
    list-style: none;
}

.Item {
    margin: 3rem 0;
}

.Item__Date {
    display: block;
    margin-bottom: 1rem;

    font-family: monospace;
    color: var(--secondary-text-color);
}

.Item__Heading {
    display: block;
    margin-bottom: 1rem;
}

.Item__Subheading {
    margin: 0;
}

.Item__Subheading:not(:last-child) {
    margin-bottom: 1.6rem;
}

.Item__Tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 1rem;

    list-style: none;
    color: var(--secondary-text-color);
}

.Item__Tags li {
    margin-right: 1.6rem;
}

.Item__Heading + .Item__Tags {
    margin-top: 0;
}

@media (min-width: 500px) {
    .Item {
        display: flex;
        align-items: baseline;
    }

    .Item__Date {
        margin-right: 2rem;
        transform: translateY(-1px);
    }
}



/* Custom styles for items in special cases */

.Section__Title + .Items .Item:first-child {
    margin-top: 0;
}
