.home p:not(:first-child) {
    margin-top: 1.8rem;
}

.home p:not(:last-child) {
    margin-bottom: 1.8rem;
}

.home a {
    font-weight: 800;
    text-decoration: none;
}

.home a:hover,
.home a:focus {
    text-decoration: underline;
}
