.home {
    padding: 0 2.4rem;
    margin-top: 3.6rem;
}

.home p {
    margin: 1.8rem 0;
}

.home a {
    font-weight: 800;
    text-decoration: none;
}

.home a:hover,
.home a:focus {
    text-decoration: underline;
}
