---
layout: layouts/main.njk
showNavigation: false
permalink: 404.html
title: Oops! That page doesn't exist!
description:
    Web Developer from Cebu, Philippines. Software Developer at Newlogic.
    Google Developer Expert in Web Technologies. I love building things on the
    Web and sharing about it.
stylesheets:
    - /static/stylesheets/pages/standalone.css
---

<section class="Section Standalone">
    <h1 class="Standalone__Heading fs-30 fw-900">
        <span class="Standalone__Highlight">Oops!</span>
        That page doesn't exist!
    </h1>
</section>

<section class="Section StandaloneActions">
    <p>Please go back to your previous page, or check out these other pages:</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/projects/">Projects</a></li>
    </ul>
</section>
