---
layout: layouts/me-header.njk
title: Oops! That page doesn't exist!
description:
    Web Developer from Cebu, Philippines. Software Developer at Newlogic.
    Google Developer Expert in Web Technologies. I love building things on the
    Web and sharing about it.
stylesheets:
    - /static/stylesheets/pages/404.css
---

<section class="Section NotFound">
    <h1 class="NotFound__Heading fs-30 fw-900">
        <span class="NotFound__Oops">Oops!</span>
        That page doesn't exist!
    </h1>
</section>

<section class="Section NotFoundActions">
    <p>Please go back to your previous page, or check out these other links:</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/events/">Events</a></li>
        <li><a href="/projects/">Projects</a></li>
    </ul>
</section>
