.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    flex-shrink: 0;
}

.content {
    padding: 0 2.4rem;
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
}

.hidden {
    display: none;
}
