---
layout: layouts/main.njk
title: Blog
description:
    I experiement a lot with cool new Web technologies and techniques, and I
    write about my experiences with them. Here are what I've written so far.
pagination:
    data: collections.articles
    size: 7
stylesheets:
    - /static/stylesheets/pages/blog.css
    - /static/stylesheets/components/items.css
---

<section class="Section Blog">
    <ol class="Items">
        {% for article in pagination.items %}
        <li class="Item Article--{{article.source}}">
            <time class="Item__Date fs-16">{{ article.date | formatDate('MM/dd') }}</time>
            <div>
                {% if article.source === 'self' %}
                    <a class="Item__Heading fs-24 fw-900" href="{{ article.url }}">{{ article.title }}</a>
                {% else %}
                    {% externalLink article.title, article.url, 'Item__Heading fs-24 fw-900' %}
                {% endif %}
                <p class="Item__Subheading">{{ article.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>

<section class="Section Pagination">
    {% if pagination.previousPageHref %}
    <a class="Paginator Paginator--previous fs-18" href="{{ pagination.previousPageHref }}">
        <img src="/static/images/svg/left.svg" alt="Previous">
        Newer articles
    </a>
    {% endif %}

    {% if pagination.nextPageHref %}
    <a class="Paginator Paginator--next fs-18" href="{{ pagination.nextPageHref }}">
        Older articles
        <img src="/static/images/svg/right.svg" alt="Next">
    </a>
    {% endif %}
</section>
