---
layout: layouts/me-header.njk
stylesheets:
    - /static/stylesheets/pages/blog.css
    - /static/stylesheets/components/items.css
---

<section class="Section Blog">
    <ol class="Items">
        <li class="Item">
            <time class="Item__Date fs-16">01/20</time>
            <div>
                <a class="Item__Heading fs-24 fw-900" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <p class="Item__Subheading">
                    My first look at React's latest feature, React Hooks, and how I used it to build my site's navigation menu
                    as a functional React component that maintains its own state.
                </p>
                <ul class="Item__Tags fs-16">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date fs-16">01/20</time>
            <div>
                <a class="Item__Heading fs-24 fw-900" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <p class="Item__Subheading">
                    My first look at React's latest feature, React Hooks, and how I used it to build my site's navigation menu
                    as a functional React component that maintains its own state.
                </p>
                <ul class="Item__Tags fs-16">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date fs-16">01/20</time>
            <div>
                <a class="Item__Heading fs-24 fw-900" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <p class="Item__Subheading">
                    My first look at React's latest feature, React Hooks, and how I used it to build my site's navigation menu
                    as a functional React component that maintains its own state.
                </p>
                <ul class="Item__Tags fs-16">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date fs-16">01/20</time>
            <div>
                <a class="Item__Heading fs-24 fw-900" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <p class="Item__Subheading">
                    My first look at React's latest feature, React Hooks, and how I used it to build my site's navigation menu
                    as a functional React component that maintains its own state.
                </p>
                <ul class="Item__Tags fs-16">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date fs-16">01/20</time>
            <div>
                <a class="Item__Heading fs-24 fw-900" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <p class="Item__Subheading">
                    My first look at React's latest feature, React Hooks, and how I used it to build my site's navigation menu
                    as a functional React component that maintains its own state.
                </p>
                <ul class="Item__Tags fs-16">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
    </ol>
</section>

<section class="Section Pagination">
    <a class="Paginator Paginator--previous fs-18" href="#">
        <img src="/static/images/icons/left.svg" alt="Previous">
        7 older articles
    </a>
    <a class="Paginator Paginator--next fs-18" href="#">
        5 newer articles
        <img src="/static/images/icons/right.svg" alt="Next">
    </a>
</section>
