---
layout: layouts/me-header.njk
stylesheets:
    - /static/stylesheets/pages/blog.css
    - /static/stylesheets/components/items.css
---

<p>
    Some of these articles may link to my <a href="https://blog.arnellebalane.com/" rel="noopener noreferrer">Medium</a>
    or <a href="https://dev.to/arnellebalane" rel="noopener noreferrer">DEV</a> articles. These are indicated with an
    icon in the tags section.
</p>

<section class="Section Blog">
    <ol class="Items">
        <li class="Item">
            <time class="Item__Date">01/20</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">01/20</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">01/20</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">01/20</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">01/20</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Building a site navigation menu using React Hooks</a>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
    </ol>
</section>
