---
layout: layouts/me-header.njk
stylesheets:
    - /static/stylesheets/components/items.css
---

<p>
    Below are my upcoming and previous talks and workshops. I talk about Web Platform APIs, Progressive Web Apps,
    Firebase, and other Web topics. You can invite me to speak or do a workshop at y our event!
</p>

<section class="Section">
    <h2 class="fs-24 fw-900">Upcoming Events</h2>

    <ol class="Items">
        <li class="Item">
            <time class="Item__Date">08/24</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">VueJS Cebu Meetup</a>
                <p class="Item__Subheading">Talk: Firebase Workshop</p>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">09/13</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">GDG Bacolod: Angular + Firebase Codelabs</a>
                <p class="Item__Subheading">Workshop: Angular + Firebase</p>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">09/14</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">GDG Bacolod: Angular + Firebase Codelabs</a>
                <p class="Item__Subheading">Workshop: Angular + Firebase</p>
            </div>
        </li>
    </ol>
</section>

<section class="Section">
    <h2 class="fs-24 fw-900">Previous Events</h2>

    <ol class="Items">
        <li class="Item">
            <time class="Item__Date">08/24</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">VueJS Cebu Meetup</a>
                <p class="Item__Subheading">Talk: Firebase Workshop</p>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">09/13</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">GDG Bacolod: Angular + Firebase Codelabs</a>
                <p class="Item__Subheading">Workshop: Angular + Firebase</p>
            </div>
        </li>
        <li class="Item">
            <time class="Item__Date">09/14</time>
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">GDG Bacolod: Angular + Firebase Codelabs</a>
                <p class="Item__Subheading">Workshop: Angular + Firebase</p>
            </div>
        </li>
    </ol>
</section>
