---
layout: layouts/main.njk
title: Events
description:
    I talk or do workshops about Web technologies, usually about Web Platform
    APIs, Progressive Web Apps, Firebase, amd Web Platform APIs. Here are some
    that I did before and the ones that are upcoming. You can also invite me to
    speak or do a workshop at your event!
stylesheets:
    - /static/stylesheets/pages/events.css
    - /static/stylesheets/components/items.css
---

<p>
    Below are my upcoming and previous talks and workshops. I talk about Web Platform APIs, Progressive Web Apps,
    Firebase, and other Web topics. You can invite me to speak or do a workshop at y our event!
</p>

<section class="Section Events">
    <h2 class="Section__Title fs-24 fw-900">Upcoming Events</h2>

    <ol class="Items">
        {% for event in (events | filterUpcomingEvents) %}
        <li class="Item">
            <time class="Item__Date fs-16">{{ event.start_date | formatDate }}</time>
            <div>
                {% externalLink event.name, event.url, 'Item__Heading fs-20 fw-900' %}
                <p class="Item__Subheading">{{ event.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>

<section class="Section Events">
    <h2 class="Section__Title fs-24 fw-900">Previous Events</h2>

    <ol class="Items">
        {% for event in (events | filterPreviousEvents) %}
        <li class="Item">
            <time class="Item__Date fs-16">{{ event.start_date | formatDate }}</time>
            <div>
                {% externalLink event.name, event.url, 'Item__Heading fs-20 fw-900' %}
                <p class="Item__Subheading">{{ event.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>
