---
layout: layouts/main.njk
title: Events | Arnelle Balane
stylesheets:
    - /static/stylesheets/events.css
---

<div class="l-Wrapper l-LeftTwoThirds">
    <p class="PageDescription">
        Below is a list of my past and upcoming talks and workshops. If you'd like to invite me to give a talk or conduct
        a workshop at your event, please feel free to <a href="mailto:arnellebalane@gmail.com">get in touch</a>.
    </p>
</div>
