<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="stylesheets/index.css">

        <title>Arnelle Balane</title>
    </head>

    <body>
        <h1>Hey, I'm Arnelle!</h1>
    </body>
</html>
