*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --text-color: #1f2d3d;
    --secondary-text-color: #8492a6;
    --c-ui-gray: #eff2f7;
    --c-ui-darkgray: #e5e9f2;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: "SF Pro Display";
    font-size: 1.8rem;
    color: var(--text-color);
}

a,
button {
    font: inherit;
    color: inherit;
}
