<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#1f2d3d">
        <meta name="description" content="Arnelle's personal website- articles, projects, events.">

        <meta property="og:title" content="@arnellebalane">
        <meta property="og:description" content="Arnelle's personal website- articles, projects, events.">
        <meta property="og:url" content="<%= baseUrl %>">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@arnellebalane">

        <link rel="canonical" href="https://arnellebalane.com/">
        <link rel="icon" href="<%= baseUrl %><%= require('./images/favicons/32x32.png') %>">

        <title>@arnellebalane</title>
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
