---
layout: layouts/main.njk
showProfileHeader: false
stylesheets:
    - /static/stylesheets/pages/index.css
    - /static/stylesheets/components/items.css
---

<Section class="Section Hero">
    <h1 class="Hero__Title fs-36 fw-900">Hey, I'm Arnelle!</h1>

    <div class="clearfix">
        <div class="Hero__Image">
            <img src="/static/images/avatar.jpg?cloudinary=w_200,f_auto" alt="Arnelle Balane" width="200px" height="200px">
        </div>
        <div class="Hero__Content">
            <p>I'm a Web Developer from Cebu, Philippines.</p>
            <p>I love experimenting with and sharing about cool new Web technologies and techniques.</p>
            <p>
                I am <strong>@arnellebalane</strong> on
                <span class="SocialLinks">
                    {% externalLink 'GitHub', 'https://github.com/arnellebalane', 'SocialLink SocialLink--github' %}
                    {% externalLink 'Twitter', 'https://twitter.com/arnellebalane', 'SocialLink SocialLink--twitter' %}
                    {% externalLink 'DEV', 'https://dev.to/arnellebalane', 'SocialLink SocialLink--devto' %}
                    {% externalLink 'Instagram', 'https://www.instagram.com/arnellebalane/', 'SocialLink SocialLink--instagram' %}
                    {% externalLink 'LinkedIn', 'https://www.linkedin.com/in/arnellebalane/', 'SocialLink SocialLink--linkedin' %}
                </span>
            </p>
        </div>
    </div>
</Section>

<section class="Section">
    <h2 class="fs-24 fw-900">About Me</h2>

    <p>
        I'm currently a Software Developer at {% externalLink 'Newlogic', 'https://newlogic.io/' %}. Previously, I was
        the Lead Frontend Developer at {% externalLink 'Channelfix', 'https://channelfix.com/' %}. I also used to teach
        a Web Engineering class at the University of the Philippines Cebu as a part-time lecturer.
    </p>
    <p>
        On weekends, I'm a co-organizer for {% externalLink 'Google Developers Group Cebu', 'https://gdgcebu.org/' %},
        a small team that sets up tech events around the Visayas region. You'll often find me giving talks and workshops
        at those and other community events.
    </p>
</section>

<section class="Section Talks">
    <h2 class="fs-24 fw-900">Talks & Workshops</h2>

    <p>
        I give talks and conduct workshops for community events, usually about Web Platform APIs, Progressive Web Apps,
        and Firebase.
    </p>
    <p>Here's a list of my upcoming talks and workshops:</p>

    <ol class="Items">
        {% for event in (events | filterUpcomingEvents) %}
        <li class="Item">
            <time class="Item__Date fs-16">{{ event.start_date | formatDate }}</time>
            <div>
                {% externalLink event.name, event.url, 'Item__Heading' %}
                <p class="Item__Subheading fs-18">{{ event.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>

    <p>The <a href="/events/">events page</a> contains a list of my previous talks and workshops.</p>
</section>

<section class="Section">
    <h2 class="fs-24 fw-900">Get In Touch</h2>

    <p>
        Feel free to <a href="mailto:arnellebalane@gmail.com">send me an email</a> or reach me through social media and
        let's make the Web more awesome!
    </p>
    <p>Have a great day!</p>
</section>
