---
layout: layouts/main.njk
showNavigation: false
title: Looks like you're offline.
description:
    Web Developer from Cebu, Philippines. Software Developer at Newlogic.
    Google Developer Expert in Web Technologies. I love building things on the
    Web and sharing about it.
---

<h1>OFFLINE!!!</h1>
