---
layout: layouts/main.njk
title: Projects | Arnelle Balane
stylesheets:
    - /static/stylesheets/pages/projects.css
---

<div class="l-Wrapper l-LeftTwoThirds">
    <p class="PageDescription">
        Here's a list of some of the projects that I've worked on, both professional and personal. If you want to learn
        more about them, feel free to <a href="mailto:arnellebalane@gmail.com">get in touch</a>.
    </p>
</div>
