---
layout: layouts/me-header.njk
stylesheets:
    - /static/stylesheets/pages/projects.css
    - /static/stylesheets/components/items.css
---

<p>
    Here are some of the projects that I've worked on, including professional projects and my own personal
    site projects.
</p>

<section class="Section Projects">
    <ol class="Items">
        <li class="Item">
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Streaks</a>
                <p class="Item__Subheading">A Web application for tracking personal streaks, GitHub-style.</p>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#vue-cli</li>
                    <li>#indexeddb</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">Endpoints</a>
                <p class="Item__Subheading">
                    Worked on the frontend for a Web application for creating URL endpoints with customizable responses
                    that can be used when developing other applications. Built in collaboration with Emmanuel and Aldrin.
                </p>
                <ul class="Item__Tags">
                    <li>#vuejs</li>
                    <li>#webpack</li>
                    <li>#websockets</li>
                </ul>
            </div>
        </li>
    </ol>
</section>

<section class="Section Projects">
    <h2 class="Section__Title fs-24 fw-900">Tools & Libraries</h2>

    <ol class="Items">
        <li class="Item">
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">mdi-cli</a>
                <p class="Item__Subheading">A command-line tool for generating Material Design icons.</p>
                <ul class="Item__Tags">
                    <li>#cli</li>
                    <li>#nodejs</li>
                    <li>#puppeteer</li>
                </ul>
            </div>
        </li>
        <li class="Item">
            <div>
                <a class="Item__Heading" href='#' rel="noopener noreferrer">hermes</a>
                <p class="Item__Subheading">Client-side messaging channel for sending data from one browser tab to another.</p>
                <ul class="Item__Tags">
                    <li>#broadcast-channel-api</li>
                    <li>#shared-workers-api</li>
                    <li>#localstorage</li>
                </ul>
            </div>
        </li>
    </ol>
</section>

<p>See more of my projects, tools, libraries, and demos over at my <a href="https://github.com/arnellebalane">GitHub profile</a>.</p>
