---
layout: layouts/me-header.njk
stylesheets:
    - /static/stylesheets/pages/projects.css
    - /static/stylesheets/components/items.css
---

<p>
    Here are some of the projects that I've worked on, including professional projects and my own personal
    site projects.
</p>

<section class="Section Projects">
    <ol class="Items Items--grid">
        {% for project in (projects | filterProjects) %}
        <li class="Item">
            <div>
                {% if project.url %}
                    {% externalLink project.name, project.url, 'Item__Heading fs-20 fw-900' %}
                {% else %}
                    <span class="Item__Heading fs-20 fw-900">{{ project.name }}</span>
                {% endif %}

                <p class="Item__Subheading">{{ project.description }}</p>
                <ul class="Item__Tags fs-16">
                    {% for tag in project.tags %}
                    <li>#{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>

<section class="Section Projects">
    <h2 class="Section__Title fs-24 fw-900">Tools & Libraries</h2>

    <ol class="Items Items--grid">
        {% for project in (projects | filterLibraries) %}
        <li class="Item">
            <div>
                {% externalLink project.name, project.url, 'Item__Heading fs-20 fw-900' %}
                <p class="Item__Subheading">{{ project.description }}</p>
                <ul class="Item__Tags fs-16">
                    {% for tag in project.tags %}
                    <li>#{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ol>
</section>

<p>
    See more of my projects, tools, libraries, and demos over at my
    {% externalLink 'GitHub profile', 'https://github.com/arnellebalane' %}.
</p>
